/**
 * CUSTOM STYLES FOR SLIDES*
**/
/*********************************************
  VARIABLES
 *********************************************/
:root {
  --r-background-color: #fff;
  --r-main-font: "Sen", sans-serif;
  --r-main-font-size: 40px;
  --r-main-color: #000;
  --r-block-margin: 20px;
  --r-heading-color: #000;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: normal;
  --r-heading-text-transform: none;
  --r-heading-font-weight: normal;
  --r-heading1-size: 2.75rem;
  --r-heading2-size: 3rem;
  --r-heading3-size: 1.6rem;
  --r-heading4-size: 1rem;
  --r-code-font: monospace;
  --r-link-color: var(--color-link);
  --r-link-color-dark: #00003f;
  --r-link-color-hover: var(--color-link-hover);
  --r-selection-background-color: rgba(0, 0, 0, 0.99);
  --r-selection-color: #fff;
  --color-navy: #002d4a;
  --color-gray-light: #f7f7f7;
  --color-orange: #b55c36;
  --color-orange-light: #D9AC98;
  --color-orange-lighter: #F7EDE9;
  --color-salmon: #c9944b;
  --color-salmon-light: #E4C8A3;
  --color-salmon-lighter: #F8F1E7;
  --color-link: #3b6c88;
  --color-link-hover: #77acbd;
  --color-link-lighter: #F1F6F8;
  --section-spacing: 2.5vw;
}
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  line-height: 1.5;
  font-weight: normal;
  color: var(--r-main-color);
}
.reveal .slides {
  text-align: left;
}
.reveal .slides > section,
.reveal .slides > section > section,
.aks-fill-v {
  height: 100vh;
}
.reveal-viewport {
  background: #fff;
  background-color: var(--r-background-color);
}
.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
}
.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
}
.reveal-viewport {
  line-height: 1.2;
}
/* ARROWS */
.reveal .controls {
  bottom: 10px;
  right: 10px;
  display: flex !important;
  gap: 5px;
}
.reveal .controls button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(255,255,255,.7);
  bottom: 0 !important;
  top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: none !important;
  position: unset;
  padding: 0 !important;
}
.reveal .controls button[disabled] {
  display: none;
}
.reveal .controls .controls-arrow {
  width: 30px;
  height: 30px;
}
.reveal .controls .controls-arrow:after,
.reveal .controls .controls-arrow:before {
  width: 20px;
  height: 5px;
}
.reveal .controls .controls-arrow:before {
  transform: translateX(6px) translateY(13px) rotate(45deg) !important;
}
.reveal .controls .controls-arrow:after {
  transform: translateX(6px) translateY(13px) rotate(-45deg) !important;
}
.reveal .controls .enabled.fragmented,
.reveal .controls[data-controls-back-arrows=faded] .navigate-up.enabled,
.reveal .controls .enabled {
  opacity: .75;
}
/*********************************************
 * TEXT
 *********************************************/
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 .5em 0;
  color: var(--r-heading-color);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: var(--r-heading-text-transform);
}
h1 {
  font-size: var(--r-heading1-size);
}
h2 {
  font-size: var(--r-heading2-size);
}
h3 {
  font-size: var(--r-heading3-size);
}
h4 {
  font-size: var(--r-heading4-size);
}
p {
  margin: 0 0 1rem 0;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child {
  margin-top: 0;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child,
p:last-child, ul:last-child, ol:last-child, li:last-child {
  margin-bottom: 0;
}
cite {
  font-size: .5rem;
  display: block;
  margin-top: 10px;
}
li {
  font-size: 1.25rem;
}
li:not(:last-child) {
  margin-bottom: .75em;
}
ol {
  padding-left: 1.5rem;
}
/*********************************************
 * Containers
 *********************************************/
.aks-display-grid {
  display: grid;
}
.aks-display-flex {
  display: flex;
}
/*********************************************
 * MEDIA
 *********************************************/
/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.reveal svg {
  vertical-align: middle;
}
figure {
  margin: 0;
}
/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--r-link-color);
  transition: all 0.2s;
}
.reveal cite a {
  color: inherit;
}
.reveal a:hover {
  color: var(--r-link-color-hover);
}
/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--r-link-color);
}
/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}
/*********************************************
 * TITLE SLIDES
 *********************************************/
 .aks-title-holder {
  background-color: rgba(255,255,255,.6);
  padding: var(--section-spacing);
  height: 100vh;
  width: 800px;
  margin-left: var(--section-spacing);
}
/*********************************************
 * SUBSECTIONS
 *********************************************/
.aks-subtitle-holder {
  padding: var(--section-spacing);
}
.aks-subtitle {
  font-size: 1.5rem;
}
.aks-big-num {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-weight: 700;
  background-color: var(--color-orange);
  width: 100px;
  height: 100px;
  color: #fff;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.aks-subtitle-holder svg {
  fill: var(--color-orange);
  opacity: .6;
}
/*********************************************
 * SPECIFIC SLIDES
 *********************************************/
.aks-title-slide .aks-text-holder {
  padding: calc(2 * var(--section-spacing)) var(--section-spacing);
  background-color: rgba(0, 45, 74, .5);
  color: #fff;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aks-title-slide .aks-text-holder h1 {
  color: #fff;
  line-height: 1.1;
}
/* background */
.aks-subj .aks-fill-v {
  position: relative;
}
.aks-subj .aks-fill-v .aks-subtitle-holder {
  width: 520px;
  flex-shrinK: 0;
  flex-grow: 0;
}
.aks-environ-sci .aks-fill-v .aks-pic-holder:nth-child(2) {
  flex: 1;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  margin: 10px 0;
}
.aks-environ-sci .aks-fill-v .aks-pic-holder:nth-child(2) img {
  position: absolute;
  top: 0;
  left: 0;
}
.aks-environ-sci .aks-fill-v .aks-pic-holder:nth-child(3) {
  flex: 0;
  position: relative;
  overflow: hidden;
}
.aks-environ-sci .aks-fill-v .aks-pic-holder:nth-child(3).visible {
  flex: 1;
  margin: 10px;
}
.aks-environ-sci .aks-fill-v .aks-pic-holder:nth-child(3) .aks-pic-holder-inner:nth-child(1) {
  height: 100%;
}
.aks-environ-sci .aks-fill-v .aks-pic-holder:nth-child(3) .aks-pic-holder-inner.up-50.visible {
  transform: translateY(-50%);
}
.aks-environ-sci .aks-fill-v .aks-pic-holder:nth-child(3) .aks-pic-holder-inner:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: calc(50% + 10px);
}
.aks-environ-sci .aks-fill-v .aks-pic-holder:nth-child(3) .aks-pic-holder-inner:nth-child(2) img {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}
.aks-pic-holder, .aks-pic-holder-inner {
  transition: all .3s ease;
}
.aks-fin-econ .aks-pic-holder {
  flex: 1;
  position: relative;
  margin: 10px 10px 10px 0;
}
.aks-pic-holder-stack {
  position: absolute;
  overflow: hidden;
  width: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-3deg);
  left: 50%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
.for-you .aks-display-flex.aks-fill-v {
  flex-direction: column;
}
.for-you {
  text-align: center;
}
.for-you .aks-text-holder.aks-display-flex {
  flex: 1;
  margin: 10px;
  gap: 10px;
}
.for-you .aks-text-holder.aks-display-flex .aks-single {
  padding: var(--section-spacing);
  flex: 1;
}
.for-you .aks-text-holder.aks-display-flex > .aks-single:first-child {
  background-color: var(--color-salmon-light);
}
.for-you .aks-text-holder.aks-display-flex > .aks-single:nth-child(2) {
  background-color: var(--color-orange-light);
  margin-right: calc(-100% - 10px);
}
.for-you .aks-text-holder.aks-display-flex > .aks-single:nth-child(3) {
  margin-right: calc(-200% - 10px);
  display: none;
  position: relative;
}
.for-you .aks-text-holder.aks-display-flex > .aks-single:nth-child(3) .aks-pic-holder {
  position: absolute;
  right: 2vw;
  top: 0;
  height: calc(100% - 80px);
}
.for-you .aks-text-holder.aks-display-flex > .aks-single:nth-child(3) cite {
  position: absolute;
  bottom: var(--section-spacing);
  left: 0;
  right: 0;
}
.for-you .aks-text-holder.aks-display-flex > .aks-single.visible:nth-child(2) {
  margin-right: 0;
}
.for-you .aks-text-holder.aks-display-flex > .aks-single.visible:nth-child(3) {
  margin-right: 0;
  display: block;
}
.for-you .aks-subtitle-holder {
  border-bottom: 4px solid;
}
.for-you .aks-subtitle-holder h3 {
  text-transform: uppercase;
}
.for-you .aks-text-holder.aks-display-flex .aks-single > p {
  font-style: italic;
  font-size: 1.2rem;
}
.for-you .aks-text-holder.aks-display-flex .aks-single .aks-display-flex {
  flex-direction: column;
  margin-top: 2rem;
}
.for-you .aks-text-holder.aks-display-flex .aks-single .aks-display-flex > div:nth-child(2) {
  font-size: 2rem;
}
.for-you .aks-text-holder.aks-display-flex .aks-single .aks-display-flex > div:nth-child(3) {
  width: 380px;
  margin: 0 auto;
}
.for-you[data-fragment="2"] .aks-text-holder.aks-display-flex .aks-single > p {
  font-size: .9rem;
}
.for-you[data-fragment="2"] .aks-text-holder.aks-display-flex .aks-single .aks-display-flex {
  margin-top: 1rem;
}
.for-you[data-fragment="2"] .aks-text-holder.aks-display-flex .aks-single .aks-display-flex > div:nth-child(2) {
  font-size: 1rem;
  margin: 15px 0;
}
.for-you[data-fragment="2"] .aks-text-holder.aks-display-flex .aks-single .aks-display-flex > div:nth-child(3) {
  width: 300px;
}
.aks-bullet-head {
  font-size: var(--r-heading3-size);
  font-weight: 700;
}
.project-start > .aks-display-flex {
  flex-direction: column;
}
.aks-project-flow {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  margin: 0;
  flex: 1;
}
.aks-project-flow li {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: var(--section-spacing);
  margin: 0;
  background-color: whitesmoke;
  padding: var(--section-spacing) var(--section-spacing) calc(2 * var(--section-spacing)) var(--section-spacing);
  font-size: 1.5rem;
}
.aks-title-top-holder {
  padding: var(--section-spacing);
  border-bottom: 4px solid;
  text-align: center;
}
.aks-title-top-holder .aks-title {
  font-size: var(--r-heading3-size);
  text-transform: uppercase;
}
.fragment.aks-spotlight.visible,
.aks-spotlight-done {
  background-color: var(--color-orange) !important;
  color: #fff;
}
.fragment.aks-spotlight.visible .aks-big-num,
.aks-spotlight-done .aks-big-num {
  background-color: #fff;
  color: var(--color-orange);
}
.project-start .aks-text-holder-inner {
  padding: calc(2* var(--section-spacing));
  height: 100%;
}
.project-start .aks-sub-head-col {
  font-weight: 700;
}
.aks-meeting .fragment.aks-spotlight-light.current-fragment.visible {
  background-color: var(--color-salmon-light);
}
.aks-meeting .aks-track {
  display: flex;
  transition: all .3s;
  width: 300vw;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
}
.aks-meeting .aks-track .aks-single {
  width: 100vw;
  position: relative;
  padding: 10px;
}
.aks-meeting .aks-track:has(.aks-single.visible:nth-child(2)) {
  left: -100vw;
}
.aks-meeting .aks-track:has(.aks-single.visible:nth-child(3)) {
  left: -200vw;
}
.aks-meeting .aks-track .aks-single .aks-icon-holder {
  position: absolute;
  width: 300px;
  height: 300px;
  top: var(--section-spacing);
  right: var(--section-spacing);
}
.aks-meeting .aks-track .aks-single:nth-child(1) .aks-text-holder-inner {
  background-color: var(--color-link-lighter);
}
.aks-meeting .aks-track .aks-single:nth-child(2) .aks-text-holder-inner {
  background-color: var(--color-salmon-lighter);
}
.aks-meeting .aks-track .aks-single:nth-child(3) .aks-text-holder-inner {
  background-color: var(--color-orange-lighter);
}
.aks-box {
  padding: var(--section-spacing);
}
.aks-polar-wrapper {
  margin: calc(2 * var(--section-spacing)) calc(2 * var(--section-spacing)) calc(2 * var(--section-spacing)) 0;
}
.aks-polar-wrapper .aks-single:nth-child(4n + 1),
.aks-single-polar-1 {
  transform: rotate(-5deg);
}
.aks-polar-wrapper .aks-single:nth-child(4n + 2),
.aks-single-polar-2 {
  transform: rotate(3deg);
}
.aks-polar-wrapper .aks-single:nth-child(4n + 3) {
  transform: rotate(5deg);
}
.aks-polar-wrapper .aks-single:nth-child(4n + 4) {
  transform: rotate(-3deg);
}
.aks-polar-inner {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}
.aks-polar-inner::before {
  content: '';
  position: absolute;
  z-index: -1;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.4);
  bottom: 30px;
  left: 12px;
  height: 20%;
  width: 47%;
}
.aks-polar-wrapper .aks-single:nth-child(4n + 1) .aks-polar-inner::before,
.aks-single-polar-1 .aks-polar-inner::before {
  transform: rotate(-6deg);
}
.aks-polar-wrapper .aks-single:nth-child(4n + 2) .aks-polar-inner::before,
.aks-single-polar-2 .aks-polar-inner::before {
  transform: rotate(4deg);
  right: 12px;
  left: auto;
}
.aks-polar-wrapper .aks-single:nth-child(4n + 3) .aks-polar-inner::before {
  transform: rotate(6deg);
  right: 12px;
  left: auto;
}
.aks-polar-wrapper .aks-single:nth-child(4n + 4) .aks-polar-inner::before {
  transform: rotate(-4deg);
}
.aks-polar-wrapper .aks-single img {
  max-height: 70vh;
}
.aks-single-polar img {
  max-height: 65vh;
}
.aks-polar-wrapper figcaption,
.aks-single-polar figcaption,
.aks-figcaption-styled {
  font-family: "Shadows Into Light", cursive;
  font-size: .8rem;
  padding: 15px 10px 5px 10px;
  text-align: center;
}
.aks-figcaption {
  font-size: .5rem;
  padding: 15px 10px 5px 10px;
  text-align: center;
}
.my-background .aks-display-grid,
.skills .aks-display-grid,
.starting-out .aks-display-grid,
.project-manage .aks-display-grid {
  grid-template-columns: 1fr 1fr;
}
.my-background .aks-box {
  margin: 10px;
  background-color: whitesmoke;
}
.skills-stack,
.starting-stack {
  margin: 10px 10px 10px 0;
}
.skills .aks-box {
  margin: 10px;
  background-color: var(--color-salmon-lighter);
}
.starting-out .aks-box {
  margin: 10px;
  background-color: var(--color-link-lighter);
}
.project-manage .aks-box {
  margin: 10px;
  background-color: var(--color-orange-lighter);
}
.skills-stack .aks-single:not(.aks-single-polar),
.starting-stack .aks-single {
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}
.skills-stack .aks-single:not(.aks-single-polar) img,
.starting-stack .aks-single img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.skills-stack .aks-single.aks-before-after {
  height: calc(100vh - 20px);
  padding: 5vw 0;
}
.skills-stack .aks-single.aks-before-after figure {
  text-align: center;
}
.skills-stack .aks-single.aks-before-after figure:first-child {
  border-bottom: 2px dashed #ddd;
}
.skills-stack .aks-single.aks-before-after img {
  position: unset;
  width: 75%;
  height: auto;
}
.skills-stack .aks-single.aks-before-after-writing img {
  width: 85%;
}
.aks-draw-arrow {
  position: absolute;
  width: 100px;
  height: 100px;
  top: calc(40% - 100px);
  left: 0;
  transform: rotate(20deg);
}
.aks-before-after-writing .aks-draw-arrow {
  left: -1%;
  top: calc(50% - 120px);
}
.aks-draw-arrow svg {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.aks-draw-arrow svg .draw-arrow {
  stroke-width: 5;
  stroke: var(--color-salmon);
  fill: none;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
}
.aks-draw-arrow.visible svg .draw-arrow {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: draw;
}
.aks-draw-arrow svg .draw-arrow.tail-1 {
  animation-delay: 0.5s;
}
.aks-draw-arrow svg .draw-arrow.tail-2 {
  animation-delay: 0.7s;
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
.confirmation-flex {
  gap: 10px;
  overflow: hidden;
  margin: 10px;
}
.confirmation-flex .aks-pic-holder {
  flex: 1;
  padding: 2vw;
  text-align: center;
}
.confirmation-flex .aks-pic-holder:nth-child(1) {
  background-color: var(--color-salmon);
}
.confirmation-flex .aks-pic-holder:nth-child(2) {
  background-color: var(--color-link);
}
.confirmation-flex .aks-pic-holder.fragment {
  margin-right: calc(-100% - 10px);
  transition: all .3s;
}
.confirmation-flex .aks-pic-holder.visible {
  margin-right: 0;
}
.aks-arrow-access.aks-draw-arrow svg .draw-arrow {
  stroke: #fff;
}
.aks-arrow-access-3 {
  top: calc(40% - 150px);
}
.aks-arrow-access-2 {
  top: calc(40% - 150px);
  left: 60%;
  transform: scaleX(-1) rotate(45deg);
}
.aks-arrow-access-1 {
  top: calc(40% + 85px);
  left: 50%;
  transform: rotate(-10deg);
}
.r-stack .aks-figure {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.r-stack .aks-single .aks-figure img {
  object-fit: contain;
  width: 100%;
  height: auto;
  position: unset;
}